.py-home, .py-archive, .py-paste, .py-paste-password {
  padding-top: 70px;
  padding-bottom: 70px;
}

.bg-purple {
  background-color: #493f8d;
  background-image: -webkit-radial-gradient(0% bottom, ellipse, rgba(118, 72, 160, 0.7) 0%, rgba(118, 72, 160, 0) 60%), -webkit-radial-gradient(90% bottom, ellipse, #523f8c 0%, rgba(82, 63, 140, 0) 40%);
}

.py-card {
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.03);
          box-shadow: 0 2px 3px rgba(0, 0, 0, 0.03);
}

.py-badge {
  background: #eff3f6;
  color: #6b6b6b;
  border: 1px solid rgba(27, 31, 35, 0.2);
  font-weight: 300;
  display: inline-block;
  padding: .25em .4em;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
}

.py-badge a {
  color: #6b6b6b;
  text-decoration: none;
}

body {
  background: #f5f6fa;
  color: #313944;
}

.py-archive .archive-table {
  background-color: #fff;
  padding: 1.25rem;
}

.py-paste .code-header {
  border-bottom: 1px solid rgba(77, 82, 89, 0.07);
}

.py-paste .code-header-button {
  font-size: 12px;
}

.py-paste .syntax {
  background-color: #fff;
  padding: 1.25rem;
}

.py-paste .syntax pre {
  white-space: pre-wrap !important;
}

footer {
  font-size: 85%;
}

footer .fa-heart {
  color: #d43c67;
}
